major_server/
.env
.my-project-5149-google-sheets-service-account-keys.json
output/meeting-minutes/*
output/meeting-minutes-translated/*
output/processed-transcripts/*
output/raw-transcripts/*
output/processed-keywords/*
output/keywords-translated/*
output/keywords-translated/*
output/meeting-minutes-french/*
output/transcripts-translated/*
!output/.gitkeep
